@import "./responsive.scss";

$primary-color: #2ea5e4;

.layout {
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @include lg {
    max-width: 1280px;
  }
  @include md {
    max-width: 768px;
  }
  @include sm {
    max-width: 640px;
  }

  .content {
    flex: 1;
  }
}
